.input {
  background: #fdf6f3;
  border: none;
  padding: 0.5rem 0.7rem;
  height: 50px;
  width: 100%;
}

.heading1 {
  font-size: 2rem;
}
.heading2 {
  font-size: 1.625rem;
}
.text_Italic {
  font-size: 1rem;
  font-style: italic;
}
.regular_Text {
  font-size: 1rem;
}
